/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 700px;
  margin: 20px auto;
  padding: 1rem;
}
.task-details {
  flex: 1;
  padding: 0 10px;
}
.controls {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}